;; shadow-cljs configuration
{:deps
 {:aliases [:dev]}

 :dev-http
 {8989 "public"}

 :builds
 {:main
  {:target  :browser
   :modules {:main {:init-fn my-app/init}}
   #_#_:release
   {:build-options
    {:ns-aliases
     {com.fulcrologic.guardrails.core com.fulcrologic.guardrails.noop}}}}}}
